<nb-card style="direction: rtl;">
    <nb-card-body>
        <div class="row">
            <div class="col-4">
                <label for="exam" class="form-label" style="text-align: right;"> اختر اختبار</label>
                <br>
                <select style="width: 100%;" [(ngModel)]="examId"(ngModelChange)="GetAnswer()"
                 class="form-select" name="exam">
                  <option>اختر اختبار</option>
                 <option *ngFor="let  adver of exams;" value="{{adver.id}}">{{adver.title}}</option>

                </select>
            </div>
            <!-- <div class="col-4">
                <button type="button" class="btn btn-outline-primary ">
                    عرض </button>
            </div> -->
        </div>

    </nb-card-body>
</nb-card>
<nb-card style="height: 500px;width: 100%;direction: rtl;">
    <nb-card-header> عرض اجوبة الطلاب </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">
            <table class="table table-striped" style="direction: rtl;text-align: right;">
                <thead class="table-info">
                    <tr>
                        <th>الطالب</th>
                        <th>السؤال</th>
                        <th>الإجابة</th>
                        <th>
                            الحالة
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let  adver of Answers;index as x" >
                        <td>{{ adver.studnetName}}</td>
                        <td>
                            {{adver.question}}
                        </td>
                        <td>
                            {{adver.answer}}
                        </td>
                        <td>
                            {{adver.statues}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </nb-card-body>
</nb-card>