<nb-card style="direction: rtl; text-align: right;">
    <nb-card-header> اضافة اختبار</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputFirstName" class="label">عنوان </label>
                    <input type="text" [(ngModel)]="exam.Title" nbInput fullWidth id="inputFirstName" placeholder="">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputPassword3" class="label col-sm-3 form-control-label">تاريخ بدء الاختبار </label>

                    <input type="datetime-local" [(ngModel)]="exam.Date" nbInput fullWidth placeholder=" "
                        name="CreateDate">

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">

                <ul class="list-group">
                    <li class="list-group-item">
                        السؤال :
                        <input type="text" nbInput [(ngModel)]="quetion.Question" fullWidth id="inputFirstName" placeholder=" ">
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" (click)="CorrectChoise(1)" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    
                            <input type="text" [(ngModel)]="quetion.Choise1" nbInput fullWidth id="inputFirstName" placeholder="الإجابة الأولى ">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input"(click)="CorrectChoise(2)" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    
                            <input type="text" [(ngModel)]="quetion.Choise2" nbInput fullWidth id="inputFirstName" placeholder=" الإجابة الثانية">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input"(click)="CorrectChoise(3)" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <input type="text" [(ngModel)]="quetion.Choise3" nbInput fullWidth id="inputFirstName" placeholder="الإجابة الثالثة ">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" (click)="CorrectChoise(4)"type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <input type="text" [(ngModel)]="quetion.Choise4" nbInput fullWidth id="inputFirstName" placeholder="الإجابة الرابعة ">
                        </div>
                    </li>
                    
                    <li class="list-group-item">
                        <button class="btn btn-outline-primary" (click)="addQuetion()" type="submit"> اضافة سؤال</button>
    
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <th>ترقيم</th>
                    <th>السؤال</th>
                    <th>الإجابة 1</th>
                    <th>الإجابة 2</th>
                    <th>الإجابة 3</th>
                    <th>الإجابة 4</th>
                    <th> الإجابة الصحيحة</th>
                    <th> حذف</th>

                </thead>
                <tbody>
                    <tr *ngFor="let exam of exam.Quetions;index as i">
                        <td>
                            {{i+1}}
                        </td>
                        <td>
                            {{exam.Question}}
                        </td>
                        <td>
                            {{exam.Choise1}}
                        </td>
                        <td>
                            {{exam.Choise2}}
                        </td>
                        <td>
                            {{exam.Choise3}}
                        </td>
                        <td>
                            {{exam.Choise4}}
                        </td>
                        <td>
                            {{exam.Correct}}
                        </td>
                        <td>
                            <a (click)="deleteQuthion(exam)"><i class="fa fa-trash"
                                    style="color:rgb(0, 0, 49);"></i></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" (click)="addExam('bottom-right')" nbButton>اضافة</button>
    </nb-card-body>
</nb-card>