<div class="row">
  <div class="col-md-12" style="padding-left: 20%;padding-right: 20%;">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <h3>الواجبات </h3>

        <h5>ادراج الواجب</h5>
        <div id="FileUpload">
          <div class="wrapper">
            <div class="upload">
              <input type="file" #fileInput id="fileInput" (change)="stageFile()"
                accept="csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
              <!-- <span class="upload__button" (click)="Add()">
                + </span> -->
            </div>
            <div >
              <textarea nbInput fullWidth placeholder="ملاحظات" [(ngModel)]="file.Note"></textarea>

            </div>
            <!-- <div class="uploaded uploaded--one" *ngFor="let f of files">
              <i class="far fa-file-pdf"></i>
              <div class="file">
                <div class="file__name">
                  <p>{{f}}</p>
                  <i class="fas fa-times" (click)="cancel(f)"></i>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:100%">
                  </div>
                </div>
              </div>
            </div> -->
            <span class="upload__button" (click)="sendFiles()">
              ارسال </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>