<header>
  <div class="owl-carousel owl-theme">
    <div class="item">
      <img src="assets/images/Study.jpg" alt="">
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line"></div>
            <h2></h2>
            <h1>رسائل المقرر</h1>
            <h4></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container">

    <div class="text-center title">
      <h3>رسائل المقرر الدراسي</h3>
      <p></p>
    </div>



  </div>
</section><!-- End Counts Section -->
<div class="card">
  <div class="card-body">
    <ng-template #card>
      <nb-card class="popover-card">
        <nb-card-header status="warning">
        </nb-card-header>
        <nb-card-body>
          <label for="inputFirstName" class="label"></label>
                    <input type="text" nbInput fullWidth id="inputFirstName" 
                        placeholder="ادخل نص">
        </nb-card-body>
      </nb-card>
    </ng-template>
    <button nbButton status="warning" [nbPopover]="card">انشاء مجلد</button> &nbsp;
    <button nbButton status="warning" [nbPopover]="card">انشاء رسالة</button>

    <table class="table">
      <thead>
        <th>المجلد</th>
        <th>غير المقروء</th>
        <th>الإجمالي</th>
      </thead>
      <tbody>
        <tr>
          <td>تم الارسال</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>علبة الوارد</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
