
<header>
  <div class="owl-carousel owl-theme">
      <div class="item">
          <img src="assets/images/pc.jpg"  alt="">
          <div class="cover">
              <div class="container">
                  <div class="header-content">
                      <div class="line"></div>
                      <h2></h2>
                      <h1>أنشطة الوحدة</h1>
                      <h4></h4>
                  </div>
              </div>
          </div>
      </div>

  </div>
</header>
<!--
    <div class=" col-sm-12 col-12" >
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="media-body text-left">
            <a>
              <h3 class="primary">أسئلة بخصوص هذه المحاضرة</h3>
            </a> 
              <span></span>
            </div>
            <div class="align-self-center">
              <i class="icon-book-open primary font-large-2 float-right"></i>
            </div>
  
          </div>
          <p>
        <br>  هذا المنتدى مخصص فقط للأسئلة حول هذه المحاضرة
        <br>    يرجى عدم نسخ أي من مشاركة زملائك الطلاب
        <br>   هذا المنتدى متوفر حتى نهاية فصلك الدراسي
  
          </p>
        </div>
      </div>
    </div>
  
  </div>
    <div class=" col-sm-12 col-12" >
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="media-body text-left">
            <a (click)="homeworkUnit()">
              <h3 class="primary"> واجب الوحدة </h3>
            </a> 
              <h6> لحل هذا الواجب يجب طباعة المرفق أعلاه  </h6>
            </div>
            <div class="align-self-center">
              <i class="icon-book-open primary font-large-2 float-right"></i>
            </div>
  
          </div>
          <p>
        <br>هذا الواجب متاح : لمدة اسبوع
        <br> عدد المحاولات لهذا الواجب : محاولة واحدة
        <br>  درجة الواجب :2 درجة
        <br>  التسليم يتم عن طريق :إرفاق ملف وإرساله
        <br>  يحقق هذا الواجب أهداف هذه الوحدة
  
          </p>
        </div>
      </div>
    </div>
  
  </div>
-->
<div class="row">

  <div class=" col-sm-12 col-12" >
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
            <div class="media-body text-left">
            <a (click)="selfTest()">
              <h3 class="primary">الإختبار الذاتي</h3>
            </a> 
              <h6> معلومات الإختبار :</h6>
            </div>
            <div class="align-self-center">
              <i class="icon-book-open primary font-large-2 float-right"></i>
            </div>
  
          </div>
          <p>
        <br>  <u>(الغياب والحضور)</u>  هذا الإختبار يتم عن طريقه رصد المشاركة
        <br>  مدة الإختبار : 5 دقائق
        <br>  <u>(ترصد الدرجة الأعلى )</u>  عدد المحاولات : 2 
        <br>   الإختبار متوفر :  أسبوع واحد 
        <br>    درجة الاختبار :  5 درجات 
  
          </p>
        </div>
      </div>
    </div>
  
  </div>

</div>
<button type="button" class="btn btn-outline-primary" (click)="nextStep()">الخطوة التالية :   الوحدة التالية</button>

