<header>
  <div class="owl-carousel owl-theme">
    <div class="item">
      <img src="assets/images/Study.jpg" alt="">
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line"></div>
            <h2></h2>
            <h1>المناقشات</h1>
            <h4></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container">

    <div class="text-center title">
      <h3>لوحة المناقشة</h3>
      <p>

      </p>
    </div>

    <div class="row counters">



    </div>

  </div>
</section><!-- End Counts Section -->

<!--استاذ المقرر-->
<section id="team" class="pb-5 " style="margin-bottom: 26%;height: auto;background-color: #c7dbfc;">
  <div class="container">
    <h5 class="section-title h1">المنتديات </h5>
    <div class="row">

      <!-- Team member -->
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="assets/images/person.png" alt="card image">
                  </p>
                  <h3>  مجموعة اسلوب التعلم المستقل </h3>
                  <!--- <h4 class="card-title"> اجمالي الرسائل :0 </h4>
                    <h4 class="card-title">الرسائل غير المقروءة :0 </h4>
                    <h4 class="card-title"> الردود غير مقروءة الموجهة لي :0 </h4>
                    <h4 class="card-title">إجمالي المشاركين :0 </h4>
                    <p class="card-text"></p>-->

                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center">
                  <h4 class="card-title"> </h4>
                  <h4 class="card-title">الوصف : </h4>
                  <p class="card-text">
                    <a href="https://t.me/joinchat/rSn7AodwxYQ3YWQy" class="mb-0 mt-2 font-italic">
                      <i class="fab fa-telegram" style="color: rgb(20, 146, 230);width: 20px;height: 20px;"></i>
                      للإنضمام عبر قناة تلغرام الضغط هنا
                    </a>
                  </p>

                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

     <!-- Team member -->
     <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
          <div class="frontside">
            <div class="card">
              <div class="card-body text-center">
                <p><img class=" img-fluid" src="assets/images/person.png" alt="card image">
                </p>
                <h3>  مجموعة اسلوب التعلم المعتمد </h3>
                <!--- <h4 class="card-title"> اجمالي الرسائل :0 </h4>
                  <h4 class="card-title">الرسائل غير المقروءة :0 </h4>
                  <h4 class="card-title"> الردود غير مقروءة الموجهة لي :0 </h4>
                  <h4 class="card-title">إجمالي المشاركين :0 </h4>
                  <p class="card-text"></p>-->

              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center">
                <h4 class="card-title"> </h4>
                <h4 class="card-title">الوصف : </h4>
                <p class="card-text">
                  <a href="https://t.me/joinchat/7Y0BfIx65HJjZTBi" class="mb-0 mt-2 font-italic">
                    <i class="fab fa-telegram" style="color: rgb(20, 146, 230);width: 20px;height: 20px;"></i>
                    للإنضمام عبر قناة تلغرام الضغط هنا
                  </a>
                </p>

                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-skype"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./Team member -->

    <!-- Team member -->
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
          <div class="frontside">
            <div class="card">
              <div class="card-body text-center">
                <p><img class=" img-fluid" src="assets/images/person.png" alt="card image">
                </p>
                <h3>  رابط الانضمام عبر الميت </h3>
                <!--- <h4 class="card-title"> اجمالي الرسائل :0 </h4>
                  <h4 class="card-title">الرسائل غير المقروءة :0 </h4>
                  <h4 class="card-title"> الردود غير مقروءة الموجهة لي :0 </h4>
                  <h4 class="card-title">إجمالي المشاركين :0 </h4>
                  <p class="card-text"></p>-->

              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center">
                <h4 class="card-title"> </h4>
                <h4 class="card-title">الوصف : </h4>
                <p class="card-text">
                  <a href="https://meet.google.com/odn-hjvc-orj " class="mb-0 mt-2 font-italic">
                    
                    للإنضمام عبر  الميت الضغط هنا
                  </a>
                </p>

                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-skype"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./Team member -->
    </div>
  </div>
</section>