<div class="row">
    <div class="col-md-12" style="padding-left: 20%;padding-right: 20%;">
        <div class="card">
            <div class="card-body"style="text-align: center;">
                <h3 >الإختبار الذاتي</h3>
              <b> ارشادات  :</b> 
                <p> 
                    يمكن حفظ هذا الإختبار واستئنافه لاحقاً
                </p>
               <b>معلومات الإختبار :</b> 
                <br>
                <p> مدة الاختبار:1 ساعة</p>
                <p> مدة  توفر الاختبار:24 ساعة</p>
              <p>عدد محاولات  : مرة واحدة فقط</p>  
               <p> درجة الاختبار :20 درجة</p>
               
             
            </div>
        </div>
    </div>
</div>




<nb-card class="col-md-12 col-lg-12 col-xxxl-12" style="direction: rtl;text-align: right;">
    <nb-card-body>
      <nb-stepper orientation="horizontal">
        <nb-step [label]="labelOne">
          <ng-template #labelOne></ng-template>
          <ul class="list-group">
            <li class="list-group-item">
                <p>السؤال الأول: من المبادئ الرئيسية حول التعلم عند برونر</p>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        الدافعية            
                            </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        الانتباه
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        الاقتران
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        الانطفاء
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <button class="btn btn-outline-primary" type="submit">حفظ الإجابة</button>
                
            </li>
        </ul>
          <button nbButton disabled nbStepperNext>السؤال السابق</button>
          <button nbButton nbStepperNext>السؤال التالي</button>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo></ng-template>
          <ul class="list-group">
            <li class="list-group-item">
                <p>السؤال الثاني : يعد التقليد ومحاكاة الاخرين من انماط التعلم</p>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        بالعمل
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        التصوري
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        الايقوني
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        الرمزي
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <button class="btn btn-outline-primary" type="submit">حفظ الإجابة</button>
                
            </li>
        </ul>
          <button nbButton nbStepperPrevious>السؤال السابق</button>
          <button nbButton nbStepperNext>السؤال التالي</button>
        </nb-step>
        <nb-step>
            <ul class="list-group">
                <li class="list-group-item">
                    <p>السؤال الثالث : ترجع نظرية جثري الى</p>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            النظرية البنائية
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            النظرية المعرفية
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            لنظرية السلوكية
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            لنظرية الاجتماعية
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-outline-primary" type="submit">حفظ الإجابة</button>
                    
                </li>
            </ul>
          <button nbButton nbStepperPrevious>السؤال السابق</button>
          <button nbButton nbStepperNext>السؤال التالي</button>
        </nb-step>
        <nb-step [label]="labelFour">
          <ng-template #labelFour></ng-template>
          <ul class="list-group">
            <li class="list-group-item">
                <p>السؤال الرابع: مجموعة من الاجراءات المختارة سلفا من قبل مصمم التدريس</p>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        النموذج
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        الاستراتيجية
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        الطريقة
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        الاسلوب
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <button class="btn btn-outline-primary" type="submit">حفظ الإجابة</button>
                
            </li>
        </ul>
          <button nbButton nbStepperPrevious>السؤال السابق</button>
          <button nbButton  nbStepperNext>السؤال التالي</button>

        </nb-step>
        <nb-step [label]="labelFour">
            <ng-template #labelFour></ng-template>
            <ul class="list-group">
              <li class="list-group-item">
                  <p>السؤال الخامس : يتكون من افكار واراء المعلم الذاتية</p>
              </li>
              <li class="list-group-item">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        الاسلوب المباشر
                      </label>
                  </div>
              </li>
              <li class="list-group-item">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        الاسلوب الغير مباشر
                      </label>
                  </div>
              </li>
              <li class="list-group-item">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        الاسلوب القائم على المدح
                      </label>
                  </div>
              </li>
              <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        الاسلوب القائم على التغذية الراجعة
                    </label>
                </div>
            </li>
              <li class="list-group-item">
                  <button class="btn btn-outline-primary" type="submit">حفظ الإجابة</button>
                  
              </li>
          </ul>
            <button nbButton nbStepperPrevious>السؤال السابق</button>
            <button nbButton  nbStepperNext>السؤال التالي</button>
  
          </nb-step>
          <nb-step [label]="labelFour">
            <ng-template #labelFour></ng-template>
            <ul class="list-group">
              <li class="list-group-item">
                  <p>السؤال السادس : ..........طريقة تدريس مثالية</p>
              </li>
              <li class="list-group-item">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        كل
                      </label>
                  </div>
              </li>
              <li class="list-group-item">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        حل المشكلات           
                               </label>
                  </div>
              </li>
              <li class="list-group-item">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        المحاضرة
                      </label>
                  </div>
              </li>
              <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        لا توجد
                    </label>
                </div>
            </li>
              <li class="list-group-item">
                  <button class="btn btn-outline-primary" type="submit">حفظ الإجابة</button>
                  
              </li>
          </ul>
            <button nbButton nbStepperPrevious>السؤال السابق</button>
            <button nbButton disabled nbStepperNext>السؤال التالي</button>
            <button class="btn btn-outline-primary" type="submit">حفظ كافة الإجابات</button>
  
          </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>