<header>
  <div class="owl-carousel owl-theme">
    <div class="item">
      <img src="assets/images/Study.jpg" alt="">
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line"></div>
            <h2></h2>
            <h1>الوحدات التعليمية</h1>
            <h4></h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" style="text-align: right;">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 style="color: rgb(1, 1, 61);">قبل أن تبدأ :</h1>
        انت الان تشاهد صفحة الوحدات التعليمية وتتكون كما تلاحظ :
        <br>
        <b style="color: rgb(0, 97, 177);">ملخص المقرر :</b>
        <p>
        <a href="assets/unit1.pdf">يحوي على ملف pdf من المهم جدا طباعة هذا الملف قبل بداية الفصل</a>  
          <br>
          كل مجلد يمثل الوحدة التعليمية وكل وحدة تضمن :
        </p>
        <b style="color: rgb(0, 97, 177);">فيديوهات الوحدة :</b>
        <p>
          يحوي على ملف pdf من المهم جدا طباعة هذا الملف قبل بداية الفصل
          <br>
          كل مجلد يمثل الوحدة التعليمية وكل وحدة تضمن :
        </p>
        <b style="color: rgb(0, 97, 177);">انشطة الوحدة :</b>
        <p>
          يحوي بداخله ثلاث أنشطة
        </p>
        <b style="color: rgb(0, 97, 177);">اختبار ذاتي: :</b>
        <p>
          لاحظ أن الاجوبة موجودة داخل الفيديوهات التعليمية للوحدة وهذا النشاط مقيم بخمس درجات
        </p>
        <b style="color: rgb(0, 97, 177);">واجب: :</b>
        <p>
          يحوي على ملف pdf من المهم جدا طباعة هذا الملف قبل بداية الفصل
          <br>
          كل مجلد يمثل الوحدة التعليمية وكل وحدة تضمن :
        </p>


      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/template/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title">
      <h2>قائمة الوحدات التعليمية</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
          <h4 class="title"><a (click)="showUnit()">الوحدة الأولى</a></h4>

          <p class="description">
            <b>أهداف الوحدة:</b>
            <br>
            تحديد معنى ومفهوم وأهمية العملية التربوية
          <br>
            <a href="assets/book/unit1/index.html" class="btn btn-outline-primary" (click)="downloadFile()">تحميل ملفات  الوحدة</a>
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
          <h4 class="title"><a (click)="showUnit()">الوحدة الثانية</a></h4>

          <p class="description">
            <b>أهداف الوحدة:</b>
            <br>
            التعرف على خصائص التربية ووظائفها وعلاقتها في العلوم الأخرى
            <br>
            <a href="assets/unit1.pdf" class="btn btn-outline-primary" (click)="downloadFile()">تحميل ملفات  الوحدة</a>
         
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
        <div class="icon-box">
          <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
          <h4 class="title"><a (click)="showUnit()">الوحدة الثالثة</a></h4>

          <p class="description">
            <b>أهداف الوحدة:</b>
            <br>
            تقديم نماذج وآراء لبعض المفكرين عبر العصور تحديد الأصول التربوية
            <br>
            <a href="assets/unit1.pdf" class="btn btn-outline-primary" (click)="downloadFile()">تحميل ملفات  الوحدة</a>
         
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
        <div class="icon-box">
          <div class="icon"><i class="las la-tachometer-alt" style="color:#41cf2e;"></i></div>
          <h4 class="title"><a (click)="showUnit()">الوحدة الرابعة</a></h4>

          <p class="description">
            <b>أهداف الوحدة:</b>
            <br>
            تحديد الركائز الأساسية للعملية التعليمية
            <br>
            <a href="assets/unit1.pdf" class="btn btn-outline-primary" (click)="downloadFile()">تحميل ملفات  الوحدة</a>
         
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
        <div class="icon-box">
          <div class="icon"><i class="las la-globe-americas" style="color: #d6ff22;"></i></div>
          <h4 class="title"><a (click)="showUnit()">الوحدة الخامسة</a></h4>

          <p class="description">
            <b>أهداف الوحدة:</b>
            <br>
            تعريف المؤسسات التربوية وأهميتها
            <br>
            <a href="assets/unit1.pdf" class="btn btn-outline-primary" (click)="downloadFile()">تحميل ملفات  الوحدة</a>
         
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
        <div class="icon-box">
          <div class="icon"><i class="las la-clock" style="color: #4680ff;"></i></div>
          <h4 class="title"><a (click)="showUnit()">الوحدة السادسة</a></h4>

          <p class="description">
            <b>أهداف الوحدة:</b>
            <br>
            تعريف المؤسسات التربوية وأهميتها
            <br>
            <a href="assets/unit1.pdf" class="btn btn-outline-primary" (click)="downloadFile()">تحميل ملفات  الوحدة</a>
         
          </p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Services Section -->
<button type="button" class="btn btn-outline-primary" (click)="nextStep()">الخطوة التالية : المناقشات</button>