<div class="row">
    <div class="col-md-12" style="padding-left: 20%;padding-right: 20%;">
        <div class="card">
            <div class="card-body"style="text-align: center;">
                <h3 >واجب الوحدة</h3>
                ارشادات الواجب :<p> Fan of Angular-In-Depth and my writings? Support us on Twitter!
                    A few weeks ago I ran a poll on Twitter to understand why Angular account has 280k followers on

                </p>
                <p> مدة اتاحة الواجب:48 ساعة</p>
              <p>عدد محاولات حل الواجب :2 محاولة</p>  
               <p> درجة الواجب :20 درجة</p>
               <p>طباعة الواجب</p> 
               <h5>ادراج الواجب</h5>
               <div id="FileUpload">
                <div class="wrapper">
                  <div class="upload">
                    <p>Drag files here or <span class="upload__button">Browse</span></p>
                  </div>
                  <div class="uploaded uploaded--one">
                    <i class="far fa-file-pdf"></i>
                    <div class="file">
                      <div class="file__name">
                        <p>lorem_ipsum.pdf</p>
                        <i class="fas fa-times"></i>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:100%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="uploaded uploaded--two">
                    <i class="far fa-file-pdf"></i>
                    <div class="file">
                      <div class="file__name">
                        <p>dolor_sit.pdf</p>
                        <i class="fas fa-times"></i>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:80%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="uploaded uploaded--three">
                    <i class="far fa-file-pdf"></i>
                    <div class="file">
                      <div class="file__name">
                        <p>amet_consectetur.pdf</p>
                        <i class="fas fa-times"></i>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:60%"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


