<header>
  <div class="owl-carousel owl-theme">
    <div class="item">
      <img src="assets/images/Study.jpg" alt="">
      <div class="cover">
        <div class="container">
          <div class="header-content">
            <div class="line"></div>
            <h2>طرائق التدريس العامة </h2>
            <h1>إبدأ هنا</h1>
            <h4> م . م سعد محسن علي العكيلي</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
<!--رسالة ترحيبية-->

<div class='container' style="margin-top: 10%;">
  <div class='card-left'>
    <div class='card-image'>

      <img src='assets/images/welcome2.jpg'>

    </div>
    <div class='card-text' style="text-align: right;">
      <h4> <i class="icon-speech warning font-large-2 mr-2"></i>
        رسالة ترحيبية </h4>

      <p>
        <br> مرحبا بكم في مقرر طرائق التدريس العامة .
        <br> معكم استاذ المقرر (م.م.سعد محسن العكيلي) بالإضافة الى الترحيب بكم في هذا
        <br> المقرر أود ان اقدم لكم بعض التوجيهات المفيدة والتي تساعدكم على انهاء هذا المقرر بنجاح.

        <br> بالنسبة لغالبية الطلبة تعتبر هذه اول تجربة في مقرر إلكتروني كامل.
        <br> . تتيح المقررات الالكترونية الكاملة وسيلة مختلفة لدراسة واكساب الطلبة مهارات مختلفة الرجاء قراءة الارشادات
        التالية بعناية:
        <br>الطالب هو المسؤول عن تسجيل الدخول للمقرر والقيام بجميع الانشطة المتاحة مثل الاختبارات الذاتية والواجبات
        والمنتديات
        <br>, يمكن لأستاذ المقرر ان يتتبع كل نشاط قام به الطالب.
        <br>من المهم ان يتواصل الطالب مع استاذ المقرر بشكل مستمر, ومعرفة مدى فهم الطلبة للمحتوى العلمي للمقرر وانجازهم
        لجميع الانشطة بشكل صحيح.
        <br>في حال عدم فهمك للواجبات او المحتوى, الرجاء عدم التردد في التواصل معي,
        <br>أنا هنا لمساعدتك وأنا سعيد للعمل معكم في حل كل المشاكل التي قد تواجهكم,


      </p>

      <hr style="width: 100%;height: 3px;">
      <p style="color: rgb(5, 106, 236);">
        عزيزي الطالب تذكر على الدوام انك عضوا مشاركا في عملية التطوير التعليمي في بيئة التعلم الالكترونية, <br>
        فمن خلال اقتراحك ومشاركتك يمكنك المساهمة بشكل كبير في ذلك
        <br>
        فمن خلال اقتراحك ومشاركتك يمكنك المساهمة بشكل كبير في ذلك. في حالة احتياجك لأي استفسار
        <br>
       
        عن اي شيء يخص المقرر يرجى التواصل مع المدرس من خلال
        <a (click)="CourseMessage()" style="color: crimson;">"رسائل المقرر"</a>
         أو
         <a (click)="discussions()" style="color: crimson;">"منتديات المقرر"</a>
      </p>
    </div>
  </div>
</div>

<br>


<!--استاذ المقرر-->
<section id="team" class="pb-5 " style="margin-bottom: 26%;height: auto;background-color: #BABFC7;">
  <div class="container">
    <h5 class="section-title h1">أستاذ المقرر</h5>
    <div class="row">

      <!-- Team member -->
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="assets/images/saed.jpg" alt="card image">
                  </p>
                  <h4 class="card-title"> سعد محسن علي العكيلي </h4>

                  <p class="card-text"></p>

                </div>
              </div>
            </div>
            <div class="backside" style="width: 100%; height: 100%;">
              <div class="card">
                <div class="card-body text-center">
                  <h4 class="card-title">  سعد محسن علي العكيلي </h4>
                  <p class="card-text">
                    التولد: 25/10/1981
                    <br>
                    <br>
                    العنوان: ذي قار/ قلعة سكر
                    <br>
                    <br>
                    رقم الهاتف: 07804511664
                    <br>
                    <br>
                    saadmohsinali333@gmail.com : البريد الالكتروني
                    <br>

                    <br> بكالوريوس: طرائق تدريس التربية الاسلامية
                    <br>
                    <br>ماجستير : المناهج وطرائق التدريس العامة

                  </p>

                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

    </div>
  </div>
</section>
<!-- توجيهات للطالب -->

<div class="row">
  <div class="col-xl-12 col-sm-12 col-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body" style="text-align: center;">
          <div class="media d-flex">

            <div class="col-12">
              <i class="icon-book-open primary font-large-2 float-right"></i>
              <h4>توجيهات للطلاب للحصول على أفضل مخرجات للتعلم</h4>
            </div>
          </div>
          <p>
            <br> عزيزي الطالب للحصول على أفضل مخرجات للتعلم وبالتالي الحصول على درجات عالية في هذا المقرر
            <br> يرجى اتباع التوجيهات والخطوات أدناه:
            <br> بعد قراءة محتوى الصفحة الحالية 
            "إبدا هنا" 
            وصفحة
             "توصيف المقرر"
             وصفحة 
             "سياسة المقرر"
            <br> بعناية, يجب الإنتقال الى صفحة الوحدات التعليميةوطباعة ملخص المقرر
            <br> بعد ذلك قم بدخول للمجلدالذي يحوي اسم الوحدة الاولى (حسب الخطة الدراسية)
            <br> الخطوات التي يجب القيام بها هي:
            <br> قم بفتح صفحة الوحدات التعليمية في القائمة الرئيسية للمقرر
            <br> بعد ذلك قم بدخول للمجلدالذي يحوي اسم الوحدة الاولى (حسب الخطة الدراسية)
            <br> قم بفتح مجلد
                 <a style="color: crimson;">فيديوهات الوحدة</a>
              وشاهد المقاطع التعليمية الخاصة بهذه الوحدة
            <br> الرجاء اعادة مشاهدة هذه المقاطع حتى يتسنى لك فهم محتواها جيدا
            <br> قم بالضغط على الرابط في أسفل الصفحة
             <a (click)="nextStep()" style="color: crimson;">الخطوة التالية</a>
              حيث يقودك هذا الى فتح أنشطة الوحدة
            <br> والذي يحتوي بداخله على ثلاث أنشطة وهي
            <br> منتدى أسئلة بخصوص هذه المحاضرة: سأجيب على أسئلتك بوقت لاحق
            <br>  <a style="color: green;">(هذا النشاط مقيم بدرجتين) </a>
            <br> اختبارذاتي:لاحظ أن الأجوبة موجودة مقاطع الفيديو التعليمة الخاصة بهذه الوحده
            <br> <a style="color: green;">(هذا النشاط مقيم بخمس درجات) </a>
            <br> واجب : يتضمن أسئلة في غالبها بحثية يتم تصحيح هذا الواجب خلال أبوع من تسليمه
            <br><a style="color: green;"> (هذا النشاط مقيم بثلاث درجات) </a>
            <br> بهذا تكون قد انهي المهام المخصصة لهذا الأسبوع ويمكنك الإنتقال الى الوحدة التالية
            <br> وذلك بالضغط على الرابط في أسفل الصفحة 
            <a (click)="nextStep()" style="color: crimson;">الخطوة التالية</a>



          </p>
          <hr width="100%" style="height: 3px;">


        </div>
      </div>
    </div>
  </div>

</div>




<div class=" container-fluid">
  <section id="minimal-statistics">





    <div class="row" style="padding: 10px; text-align: center;">
      <div class="col-xl-6 col-sm-6 col-12">
        <div class="card"  style="height: 95%;">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="primary">وصف موجز المقرر</h3>
                 
                </div>
                
                <div class="align-self-center">
                  <i class="icon-book-open primary font-large-2 float-right"></i>
                </div>

              </div>
              <p>
                <span >تعريف موجز المقرر:</span>
                <br>يركز هذا المقرر على دراسة طرائق التدريس العامة من حيث تسليط الضوء على ماهيتها واهدافها ومصادرها
                وخصائصها وظائفها.
                <br> وبيان اهمية التنويع في التدريس ومهاراته وبيان طرق التدريس التقليدية والحديثة وارجاعها الى النظريات
                التي تعود اليها, ودورها في مساعدة المعلم في تطوير قدراته ومهاراته
                <br>والانتقال فيها من العشوائية الى الوضوح,
                <br>كما تساعد الطلبة في الحصول على المعلومات وتجعلهم نشطين من خلال دمج اكثر من طريقة.

              </p>
            </div>
          </div>
        </div>
      
      </div>
      <div class="col-xl-6 col-sm-6 col-12">
        <div class="card"  style="height: 95%;">

          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="red">قناة تحوي فيديوهات تعليمية</h3>

              </div>
              <div class="align-self-center">
                <i class="fab fa-youtube red font-large-2 float-right"></i>

              </div>

            </div>
            <br> قناة  للتعلم الإلكتروني
            <br> دروس فيديو تعليمية موجهة للطلاب

            <br><a href="https://www.youtube.com/channel/UChVcJ7iwZTJo-3QuhDFneWg">
              الذهاب الى القناة 
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-sm-6 col-12">
        <div class="card" style="height: 95%;">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="success">مهارات استخدام الحاسوب</h3>
                  <span></span>
                </div>
                <div class="align-self-center">
                  <i class="icon-cup success font-large-2 float-right"></i>
                </div>
              </div>
              <p>

                <br> استخدام تطبيقات البرمجيات مثل :
                <br> word و powerpoint
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6 col-12">
        <div class="card"  style="height: 95%;">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <h3 class="danger">التكنلوجيا المطلوبة بالمقرر</h3>
                  <span></span>
                </div>
                <div class="align-self-center">
                  <i class="icon-direction danger font-large-2 float-right"></i>
                </div>
              </div>
              <P>
                جهاز كمبيوتر عادي أو محمول موصول على شبكة انترنت جيدة وسماعة رأس
                <br> البرامج التي يجب توافرها في جهازك هي :
                <br> microsoft word and powerpoint
              </P>
              متطلبات تقنية يجب تحميلها على جهازك :
              <br> <a href="https://www.microsoft.com/en-us/download/office.aspx">
                برامج مايكروسوفت اوفيس
              </a>
              <br> (وررد - بوربوينت - اكسل)

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
<button type="button" class="btn btn-outline-primary" (click)="nextStep()">الخطوة التالية : توصيف المقرر</button>