<header>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="assets/images/Study.jpg" alt="">
            <div class="cover">
                <div class="container">
                    <div class="header-content">
                        <div class="line"></div>
                        <h2></h2>
                        <h1>الصفحة الرئيسية</h1>
                        <h4>welcome!!</h4>
                    </div>
                </div>
             </div>
        </div>                    
    
    </div>
  </header>
<section class="py-5" style="direction: rtl;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
               
                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <header class="text-center pb-5">
                        <h3 >رسائل الإعلام الخاص بي</h3>
                    </header>
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">"لم يتم نشر أي اعلانات المقرر الدراسي أو منتدى مجموعة في أخر 7 أيام"</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                        <cite title="Source Title">المزيد من رسائل الأعلام</cite>
                    </footer>
                </blockquote><!-- END -->

            </div>
        </div>
    </div>
</section>
<section class="py-5" style="direction: rtl;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
               
                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <header class="text-center pb-5">
                        <h3 >تنبيهات</h3>
                    </header>
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <cite title="Source Title">تجاوز تارخ الإستحقاق</cite>

                    <p class="mb-0 mt-2 font-italic">لاتوجد إعلامات</p>
                    <footer class=" pt-4 mt-4 border-top">
                        
                    </footer>
                    <cite title="Source Title">تنبيهات مركز المتابعة</cite>
                    <p class="mb-0 mt-2 font-italic">"لاتوجد تنبيهات للمتابعة</p>
                    <footer class=" pt-4 mt-4 border-top">
                    </footer>
                    <cite title="Source Title">تنبيهات  النشاط</cite>
                    <p class="mb-0 mt-2 font-italic">لاتوجد إعلامات</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                        <cite title="Source Title">آخر تحديث :{{date}}</cite>
                    </footer>
                </blockquote><!-- END -->

            </div>
        </div>
    </div>
</section>
