
<nb-card style="height: 500px;width: 100%;direction: rtl;">
    <nb-card-header> عرض واجبات الطلاب </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">
            <table class="table table-striped" style="direction: rtl;text-align: right;">
                <thead class="table-info">
                    <tr>
                        <th>الطالب</th>
                        <th>
                            الملاحظات
                        </th>
                        <th>الواجبات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let  adver of Homeworks;index as x">
                        <td>{{ adver.name}}</td>
                        <td>
                            {{adver.note}}
                        </td>
                        <td>
                            {{adver.file}}

                            <a href="{{adver.file}}" download="">الوظيفة</a>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </nb-card-body>
</nb-card>