<header>
  <div class="owl-carousel owl-theme">
      <div class="item">
          <img src="assets/images/Study.jpg" alt="">
          <div class="cover">
              <div class="container">
                  <div class="header-content">
                      <div class="line"></div>
                      <h2></h2>
                      <h1>الدعم والمساعدة</h1>
                      <h4></h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title">
      <h2></h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-video"style="color: #ff689b;"></i></div>
            <h4 class="title"><a (click)="home()" > ابدأ هنا </a></h4>

            <p class="description">
              وتحتوي على صفحة ترحيبية ، ومعلومات عن استاذ المقرر، توجيهات الى الطلاب للحصول على افضل مخرجات للتعلم، وصف موجز للمقرر، قناة يوتيوب تحتوي على فيديوهات تعليمية ، مهارات استخدام الحاسوب، التكنولوجيا الخاصة بالمقرر.
            </p>
          </div>
        </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
          <h4 class="title"><a (click)="coursedesc()" > توصيف المقرر</a></h4>
          
          <p class="description">
            معلومات عن المقرر اسمه وعدد ساعاته وطريقة تدريسه والمرحلة التي تدرس به، اهداف المقرر العامة، قائمة المواد التعليمية من ملخص على شكل bdf والمراجع المطلوبة في المقرر.
          
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-tasks" style="color: #3fcdc7;"></i></div>
          <h4 class="title"><a (click)="coursePolicy()" > سياسة المقرر</a></h4>
         
          <p class="description">
            
            : مع استاذ المقرر من خلال الايميل واخلاقيات التواصل مع الاستاذ، اصول التعامل والتواصل ، وتوجيهات عامة ، توجيهات واصول التعامل عبر منتدى النقاش ، وكيفية الرد على الواجبات والانشطة 
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
        <div class="icon-box">
          <div class="icon"><i class="las la-file-alt" style="color: #145de6;"></i></div>
          <h4 class="title"><a (click)="advertising()" >الإعلانات </a></h4>
         
          <p class="description">
            
            : ويتم فيها نشر موعد المحاضرات او الاختبارات ودرجات الطلبة  او اي تبليغات اخرى تخص الطلبة .
          </p>         
       </div>
      </div>
      
      <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
            <h4 class="title"><a (click)="educationalunit()" > الوحدات التعليمية</a></h4>
            
            <p class="description">
              
              وتحتوي كل وحدة دراسية على ملف بوربوينت متحرك يحتوي على وسائل ايضاح وصور وانشطة تعليمية اضافة الى رابط قناة اليوتيوب للوصول الى الفيديوهات الخاصة بالمادة.
            </p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-tasks" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a (click)="exam()" > الإختبارات</a></h4>
           
            <p class="description">
              
              <br>
            </p>
          </div>
        </div>
            <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="icon-box">
            <div class="icon"><i class="las la-file-alt" style="color: #145de6;"></i></div>
            <h4 class="title"><a (click)="homeworks()" >الواجبات   </a></h4>
           
            <p class="description">
              
              <br>
            </p>         
         </div>
        </div>
        <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
          <div class="icon-box">
            <div class="icon"><i class="las la-tachometer-alt" style="color:#f7a800;"></i></div>
            <h4 class="title"><a (click)="discussions()" >المناقشات  </a></h4>
           
            <p class="description">
              
              وتتم من خلال منتديان الاول رابط لمجموعة على التلغرام والثاني رابط للميت ، يتم من خلالها التواصل مع الطلبة والاستاذ والطلبة فيما بينهم.
            </p>         
           </div>
        </div>
  
        <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="icon-box">
            <div class="icon"><i class="las la-globe-americas" style="color: #d6ff22;"></i></div>
            <h4 class="title"><a (click)="CourseEvaluation()" >تقييمات المقرر  </a></h4>
           
            <p class="description">
              
              وهي ثلاثة انواع الاول الاختبارات النهائية والفصلية والثاني الاختبارات الذاتية وهي عبارة عن اختبار موضوعي بعد كل محاضرة او محاضرتين ويكون في وقت محدد ولكل سؤال وقت محدد والثالث عبارة عن واجب يعطى تكون الاجابة عليه بعد يومين من وقت المحاضرة.
            </p>        
            </div>
        </div>
    
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-video"style="color: #ff689b;"></i></div>
            <h4 class="title"><a (click)="help()" > الدعم والمساعدة </a></h4>

            <p class="description">
              
              معلومات عن كيفية استخدام الموقع ومعلومات عن كل صفحة من صفحات الموقع ، اضافة الى رابط googl  للبحث عن اي معلومة يحتاجها الطالب، اضافة الى رابط خاص بشعبة التعلم الالكتروني في الكلية في حال وجود اي مشكلة تواجه الطالب.

            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="fab fa-google red font-large-2 float-right"></i>
            </div>
            <h4 class="title"><a href="https://www.google.com/" > Google </a></h4>
            
            <p class="description">
              للبحث عن اي معلومة انقر على الرابط في الأسفل 
              <br>
              <a href="https://www.google.com/">
                الذهاب الى Google 
              </a>
            </p>
          </div>
        </div>
    </div>
   
 
   
  </div>
</section><!-- End Services Section -->
<!-- <section class="py-5" style="direction: rtl;">
  <div class="container">

      <div class="row">

          <div class="col-lg-6 mx-auto">

              
              <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                  <header class="text-center pb-5">
                      <h3>الدعم الفني</h3>
                  </header>
                  <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i>
                  </div>
           
              </blockquote>

          </div>

      </div>
  </div>
</section>

<section class="py-5" style="direction: rtl;">
  <div class="container">

      <div class="row">

          <div class="col-lg-6 mx-auto">

             
              <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                  <header class="text-center pb-5">
                      <h3> <a (click)="StudentServies()">الخدمات الطلابية و الدعم الأكاديمي</a></h3>
                  </header>
                  <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i>
                  </div>
                  
                 
               
              </blockquote>

          </div>

      </div>
  </div>
</section>

<section class="py-5" style="direction: rtl;">
  <div class="container">

      <div class="row">

          <div class="col-lg-6 mx-auto">

             
              <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                  <header class="text-center pb-5">
                      <h3><a (click)="support()">دعم ذوي الاحتياجات الخاصة</a></h3>
                  </header>
                  <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i>
                  </div>
                 
              </blockquote>

          </div>

      </div>
  </div>
</section> -->

