<header>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="assets/images/Study.jpg" alt="">
            <div class="cover">
                <div class="container">
                    <div class="header-content">
                        <div class="line"></div>
                        <h2></h2>
                        <h1>سياسة المقرر</h1>
                        <h4></h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" style="text-align: right;">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 style="color: rgb(1, 1, 61);">سياسة التواصل في المقرر</h1>

                <h5> اسم استاذ المقرر : د.  سعد محسن علي العكيلي</h5>

                <h5>saadmohsinali333@gmail.com : البريد الإلكتروني</h5>

                <h5> منتدى المقرر العام : من خلال صفحة </h5>
                <h5>منتديات المقرر</h5>
                <h5>قاعة المحاضرات : حسب الجدول الخاص بكل طالب</h5>
                <h5>الساعات المكتبية : من الأحد الى الأربعاء :10-12 صفحة </h5>


            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="assets/images/po.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-xl-4 col-lg-4 d-flex justify-content-center video-box align-items-stretch">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4"
                        data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div
                    class="col-xl-8 col-lg-8 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3>سياسة التواصل مع مدرس المقرر</h3>
                    <p>فيما يلي نورد الطريقتين المفضلتين للتواصل مع مدرس المقرر :
                        <br>
                        منتدى النقاش : من خلال الرد على الأسئلة العامة
                        <br>
                        البريد الإلكتروني للمقرر في البلاك بورد (اذ تعتبر هذه الطريقة طريقة خاصة في التواصل بين المدرس
                        والطالب وذلك لاقتصار مشاهدة الرسالة على المدرسة فقط)


                    </p>
                    <hr width="100%" style="height: 2px;">
                    <p>
                        ملاحظة :على الطالب أن يدرك أن المدرس ليس متاح له في جميع الأوقات
                        على مدار الساعة لذا لايجب أن يتوقع الطالب ردل على استفساراته فورا
                        ومن هنا ينبغي أن يكون للمدرس متسع في الوقت
                        يتراوح بين يومين أو ثلاثة
                        مالم يكن الاستفسار طارئاً والا ينبغي القدوم الى مكتب المدرس وسؤاله بشكل مباشر
                        في الوقت المخصص الكترونيا
                        ولاني استعرض البريد الالكتروني ومنتدى النقاش العام نهاية كل يوم فلا تترد عزيزي الطالب السؤال عن
                        اي استفسارات
                        ورغم عدم تمكني من الرد مباشرة في بعض الحالات النادرة سوف أحاول قصار جهدي الرد على الحالات
                        الطارئة


                    </p>
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">أصوال التعامل والتواصل</a></h4>
                        <p class="description">
                            من المهم أن ندرك أن الفصول الدراسية على الإنترنت هي في الواقع متل الفصول العادية
                            لذا عليك مراعاة بعض السلوكيات عند التواصل مع كل من زملائك ومدرس المقرر
                            فيما يلي سنتفرف على بعض هذه السلوكيات والتي تعرف بالاصول التعامل والتواصل :
                            <br> <b>الأمان :</b>
                            تأكد أن كلمة المرور هي طريقة لحمايتك من المزاح والأذى
                            لا تشارك كلمة المرور الخاصة بك مع أي شخص
                            قم بتغيير كلمة المرور الخاصة بك اذا كنت تعتقد أن احدا اخر يعرفها
                            قم بتسجيل الخروج دائما عند الإنتهاء من استخدام الجهاز
                            <br> <b>توجيهات عامة :</b>
                            عند التواصل عبر الإنترنت يجب عليك دائما استخدام لغة واضحة وموجزة
                            تذكر أن لغة التواصل يجب أن تكون خالية من الأخطاءالإملائية والنحوية
                            تجنب استخدام المصطلحات العامية مثل "wassup"
                            او الاختصارات مثل "u" بدلا من "you"
                            استخدم نوع خط مناسب متل الخطوط القياسية واستخدم حجم خط بين 12-14
تجنب استخدام الحروف الكبيرة لأنها تبدو مثل الصراخ
تجنب ما امكن استخدام الرموز والاشكال
كن حذرا عم استخدام الفكاهة او السخرية في رسائل البريد الالكتروني
او منتدى النقاش حتى لايكون هناك اسائة في فهم الموضوع

                        </p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">أصول التواصل عبر البريد الالكتروني</a></h4>
                        <p class="description">
                            وصف موضوع الرسالة
                            <br>  الايجاز
                            <br>  تجنب المرفقات الا اذا كنت متاكد ان المستلم متمكن من فتحها
                            <br> تجنب استخدام HTML 
                            <br> واستخدام النص العادي عوضا عنه
                            <br> سجل اسمك وعنوان بريدك الالكتروني
                            <br> فكر قبل ارسال البريد الالكتروني لاكثر من شخص واحد هل الجميع حقا بحاجة الى رؤية رسالتك
                            <br> تأكد من انك تريد حقا من الجميع استلام ردك عند النقر فوق الرد للجميع


                        </p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">توجيهات وأصول التعامل عبر منتدى النقاش</a></h4>
                        <p class="description">
                            عند النشر في منتدى النقاش يجب عليك : 
                            نشر مشاركات تقع في صلب الموضوع وداخل نطاق المادة التعليمية
                            أخذ مشاركاتك بجدية ومراجعتها وتعديلها قبل نشرها على المنتدى
                            الايجاز والشمولية قدر الإمكان
                            الإشارة الى المصدر عند النقل او الاقتباس
                            تاكد من قراءة جميع الرسائل والمنشورات حول الموضوع قبل الرد
                            عدم تكرار مشاركة شخص آخر دون إضافة شيء خاص بك عليها

                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!--
<div class="steppers-container row">

    <h3 style="text-align: center;">سياسة توزيع الدرجات</h3>
    <div class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card size="medium" >
        <nb-card-body>
          <nb-stepper orientation="vertical">
            <nb-step label="جدول توزيع الدرجات">
              <h3> جدول توزيع الدرجات</h3>
              <p class="lorem">
                Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                placerat quis, lobortis in ligula.
              </p>
            
            </nb-step>
            <nb-step label="توزيع درجات الأنشطة الاكترونية">
              <h3>توزيع درجات الأنشطة الاكترونية في المقرر</h3>
              <p class="lorem">
                Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
              </p>
              
            </nb-step>
            <nb-step label="الاختبارات الذاتية">
              <h3>الاختبارات الذاتية</h3>
              <p class="lorem">
                Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                placerat quis, lobortis in ligula.
              </p>
              <p class="lorem">
                Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
              </p>
            
            </nb-step>
            <nb-step label="واجبات ومنتديات">
              <h3> واجبات ومنتديات</h3>
              <p class="lorem">
                Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                viverra ex.
              </p>
            
            </nb-step>
            <nb-step label="تقديرات نهائية">
                <h3> تقديرات نهائية</h3>
                <p class="lorem">
                  Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                  sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                  viverra ex.
                </p>
              
              </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card>
    </div>
  </div>-->
     <!-- ======= Services Section ======= -->
 <section id="services" class="services section-bg">
    <div class="container">
  
      <div class="section-title">
        <h2>كيفية الرد على الواجبات والأنشطة</h2>
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">بريد المقرر</a></h4>
            <p class="description">
            سيتم الرد على جميع التساؤولات والاستفسارات التي تصل الى البريد الالكتروني
            في مدة لاتتعدى ال72 ساعة وذلك طبقا لكتيب الارشادات الصادر عن الجامعة
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
            <h4 class="title"><a href="">المنتدى</a></h4>
            <p class="description">
             سيتم الاطلاع على نشاطك في النتدى مرة كل أسبوع
             لمتابعة ماقدم من مشاركات وتقييمها والتفاعل معها
            </p>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
          <div class="icon-box">
            <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a href="">الإختباراات الذاتية والفصلية</a></h4>
            <p class="description">
                تظهر الدرجة مباشرة بعد الانتهاء من الاختبار
               
            </p>
            <h4 class="title"><a href="">الواجبات</a></h4>
            <p class="description">  سيتم تصحيحها مباشرة بعد الإنتهاء من الاختبار
                </p>
          </div>
        </div>
      
      </div>
  
    </div>
  </section><!-- End Services Section -->

 

</main><!-- End #main -->
<button type="button" class="btn btn-outline-primary" (click)="nextStep()">الخطوة التالية : الوحدات  التعليمية</button>
