<header>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="assets/images/Study.jpg" alt="">
            <div class="cover">
                <div class="container">
                    <div class="header-content">
                        <div class="line"></div>
                        <h2></h2>
                        <h1>توصيف المقرر</h1>
                        <h4></h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
<!-- ======= About Section ======= -->
<section id="about" class="about">

    <div class="card" >
        <div class="card-body" >
        <div class="row gx-0">
            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="assets/images/po.png" class="img-fluid" alt="" width="100%">
            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h3 style="text-align: center;">معلومات عن المقرر </h3>
                    <p style="text-align: right;">
                      <br> اسم المقرر: طرائق التدريس العامة
                      <br>
                      <br>  الساعات المعتمدة: ساعتان
                      <br>
                      <br> طريقة تدريس المقرر: تعليم الكتروني كامل
                      <br>
                      <br>  المرحلة: الثالثة قسم معلم صفوف اولى
                     
                    </p>
                   
                </div>
            </div>
        </div>



        </div>
    </div>

</section><!-- End About Section -->

<section class="py-5" style="text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
               
                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <header class="text-center pb-5">
                        <h3 >أهداف المقرر العامة</h3>
                        <h5>عند الإنتهاء بنجاح من دراسة هذا المقرر فإن الطالب سيكون قادرا على :</h5>
                    </header>
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">
                      <br> 1. التعرف إلى نظريات التدريس ومصطلحاته.
                      <br> 2. التعرف إلى مهارات التدريس وخطواتها.
                      <br> 3. التعرف إلى بعض استراتيجيات والطرائق التابعة للنظرية المعرفية.
                      <br> 4. التعرف إلى بعض استراتيجيات والطرائق التابعة للنظرية الاجتماعية.
                      <br> 5. التعرف إلى بعض استراتيجيات والطرائق التابعة للنظرية السلوكية.
                      <br>6. التعرف الى بعض استراتيجيات وطرائق  تدريس متنوعة.

                    </p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                        <cite title="Source Title">المزيد من رسائل الأعلام</cite>
                    </footer>
                </blockquote><!-- END -->

            </div>
        </div>
    </div>
</section>

 <!-- <div class="steppers-container row">

  <h3 style="text-align: center;">خارطة دراسةالمقرر</h3>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card size="medium" >
      <nb-card-body>
        <nb-stepper orientation="vertical">
          <nb-step label="الوحدة 1">
            <h3>الوحدة 1</h3>
            <p class="lorem">
              Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
              sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
              viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
              placerat quis, lobortis in ligula.
            </p>
          
          </nb-step>
          <nb-step label="الوحدة 2">
            <h3>الوحدة 2</h3>
            <p class="lorem">
              Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
              sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
              eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
            </p>
            
          </nb-step>
          <nb-step label="الوحدة 3">
            <h3>الوحدة 3</h3>
            <p class="lorem">
              Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
              sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
              viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
              placerat quis, lobortis in ligula.
            </p>
            <p class="lorem">
              Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
              sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
              eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
            </p>
          
          </nb-step>
          <nb-step label="الوحدة 4">
            <h3>الوحدة 4</h3>
            <p class="lorem">
              Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
              sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
              viverra ex.
            </p>
          
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</div>
======= Services Section ======= -->
 <section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title">
      <h2>قائمة المواد التعليمية</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">ملخص المقرر (مطلوب)</a></h4>
          <p class="description">
            يحوي هذا ملف pdf يحوي على 
            ملخص كامل المقرر
            من المهم جدا طباعة هذا الملف
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
          <h4 class="title"><a href="">المحاضرات المسجلة</a></h4>
          <p class="description">
            هذه المحاضرات متوفرة على الرابط التالي
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
        <div class="icon-box">
          <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
          <h4 class="title"><a href="">المراجع المطلوبة</a></h4>
          <p class="description">
          <br> كتب يتم عرضها في الموقع 
          </p>
        </div>
      </div>
  
    </div>

  </div>
</section><!-- End Services Section -->
 <!-- <div class="steppers-container row">

  <h3 style="text-align: center;">خارطة دراسةالمقرر</h3>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card size="medium" >
      <nb-card-body>
        <nb-stepper orientation="vertical">
          <nb-step label="الوحدة 1">
            <h3>الوحدة 1</h3>
            <p class="lorem">
              Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
              sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
              viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
              placerat quis, lobortis in ligula.
            </p>
          
          </nb-step>
          <nb-step label="الوحدة 2">
            <h3>الوحدة 2</h3>
            <p class="lorem">
              Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
              sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
              eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
            </p>
            
          </nb-step>
          <nb-step label="الوحدة 3">
            <h3>الوحدة 3</h3>
            <p class="lorem">
              Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
              sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
              viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
              placerat quis, lobortis in ligula.
            </p>
            <p class="lorem">
              Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
              sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
              eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
            </p>
          
          </nb-step>
          <nb-step label="الوحدة 4">
            <h3>الوحدة 4</h3>
            <p class="lorem">
              Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
              sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
              viverra ex.
            </p>
          
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</div>
======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title">
      <h2>المراجع المطلوبة</h2>
    </div>

    
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="property-card">
          <a href="#">
            <div style=" background-image:url('assets/images/bookbg1.jpg');
             height:15cm;
  width:10cm;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size:cover;
  background-repeat:no-repeat;">
              <div class="property-image-title">
                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
              </div>
            </div></a>
          <div class="property-description">
            <h5> الشامل في المناهج والاتجاهات  الحديثة في التدريس </h5>
            <p>تأليف :
              <br>
              الاستاذ الدكتور نداء محمد باقر الياسري</p>
          </div>
          <a href="#">
            <div class="property-social-icons">
              <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
            </div>
          </a>
        </div>
      </div>
     <div class="col-lg-6 col-md-6">
      <iframe frameborder="0" scrolling="no" style="border:0px;width: 10cm;height: 15cm;" src="https://books.google.iq/books?id=U5jHCgAAQBAJ&lpg=PP1&hl=ar&pg=PA3&output=embed" ></iframe>
     </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="property-card">
          <a href="#">
            <div style="
            height:15cm;
  width:10cm;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('assets/images/bookbg2.jpg');
  background-size:cover;
  background-repeat:no-repeat;">
              <div class="property-image-title">
                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
              </div>
            </div></a>
          <div class="property-description">
            <h5> الوحدات التعليمية </h5>
            <p>
              تأليف :
              <br>
              الاستاذ الدكتور : عارف حازم هادي الجبوري
              <br>
              الاستاذة الدكتورة : زينة جبار العلي الافندي

            </p>
          </div>
          <a href="#">
            <div class="property-social-icons">
              <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
            </div>
          </a>
        </div>
      </div>
     <div class="col-lg-6 col-md-6">
      <iframe frameborder="0" scrolling="no" style="border:0px;width: 10cm;height: 15cm;" src="https://books.google.iq/books?id=U5jHCgAAQBAJ&lpg=PP1&hl=ar&pg=PA3&output=embed" ></iframe>
     </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="property-card">
          <a href="#">
            <div style=" height:15cm;
            width:10cm;
            padding:1em 2em;
            position:Absolute;
            top:0px;
            -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
            -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
            background-image:url('assets/images/bookbg3.jpg');
            background-size:cover;
            background-repeat:no-repeat;">
              <div class="property-image-title">
                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
              </div>
            </div></a>
          <div class="property-description">
            <h5>المناهج الحديثة وطرائق التدريس </h5>
            <p>
              تأليف:
              <br>
              دكتور محسن علي عطية
            </p>
          </div>
          <a href="#">
            <div class="property-social-icons">
              <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
            </div>
          </a>
        </div>
      </div>
     <div class="col-lg-6 col-md-6">
      <iframe frameborder="0" scrolling="no" style="border:0px;width: 10cm;height: 15cm;" src="https://books.google.iq/books?id=U5jHCgAAQBAJ&lpg=PP1&hl=ar&pg=PA3&output=embed" ></iframe>
     </div>
    </div>
  </div>
</section><!-- End Services Section -->
<button type="button" class="btn btn-outline-primary" (click)="nextStep()">الخطوة التالية : سياسة المقرر</button>
