<header>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="assets/images/video1.jpg"  alt="">
            <div class="cover">
                <div class="container">
                    <div class="header-content">
                        <div class="line"></div>
                        <h2></h2>
                        <h1>فيديوهات الخاصة بالوحدة</h1>
                        <h4></h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-xl-6 col-lg-6 d-flex justify-content-center video-box align-items-stretch">
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4"
                    data-vbtype="video" data-autoplay="true"></a>
            </div>

            <div
                class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>وصف الفيديو</h3>
                
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">أصوال التعامل والتواصل</a></h4>
                    <p class="description">
                        من المهم أن ندرك أن الفصول الدراسية على الإنترنت هي في الواقع متل الفصول العادية
                       

                    </p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">أصول التواصل عبر البريد الالكتروني</a></h4>
                    <p class="description">
                        وصف موضوع الرسالة
                        <br>  الايجاز
                        

                    </p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-atom"></i></div>
                    <h4 class="title"><a href="">توجيهات وأصول التعامل عبر منتدى النقاش</a></h4>
                    <p class="description">
                        عند النشر في منتدى النقاش يجب عليك : 
                        
                    </p>
                </div>

            </div>
        </div>

    </div>
</section><!-- End About Section -->
<button type="button" class="btn btn-outline-primary" (click)="nextStep()">الخطوة التالية :   أنشطة الوحدة</button>
