<nb-card style="direction: rtl;">
    <nb-card-header> اضافة طالب</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputFirstName" class="label">الاسم </label>
                    <input type="text" nbInput fullWidth id="inputFirstName" [(ngModel)]="student.Name"
                        placeholder=" Name">
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputEmail" class="label">البريد الإلكتروني</label>
                    <input type="email" nbInput fullWidth id="inputEmail" [(ngModel)]="student.Mail"
                        placeholder="Email">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group ">
                    <label for="inputPassword3" class="label col-sm-3 form-control-label">كلمة السر</label>

                    <input type="password" nbInput fullWidth id="inputPassword3" [(ngModel)]="student.Passowrd"
                        placeholder="Password">

                </div>
            </div>
        </div>
        <button type="submit" nbButton (click)="addStudent('bottom-right')">اضافة</button>
    </nb-card-body>
</nb-card>
<nb-card style="height: 500px;">
    <nb-card-header>  الطلاب</nb-card-header>
    <nb-card-body>
        <div class="table-responsive">
            <table class="table table-striped" style="direction: rtl;">
                <thead class="table-info">
                    <tr>
                        <th>اسم الطالب </th>
                        <th>البريد الالكتروني</th>
                        <th>حذف</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stud of students">
                        <td>{{stud.name}} </td>
                        <td>{{stud.eMail}}</td>
                        <td >
                            <a (click)="delete(stud,'bottom-right')"><i class="fa fa-trash" style="color:rgb(0, 0, 49);"></i></a>   
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </nb-card-body>
</nb-card>